<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://gamalhetari.getforge.io">Gamal</a> A student who wants to be able to code as many languages as possible for fun and for a living as well as making an impact.
  </p>
  <br />
  <p>
    He wants to help as much as he can and teach a bit about how something is done rather than just giving the solution.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Gamal.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gamal Al-Hetari</h2>
      <br />
      <p>
        Gamal lives in UK where he graduated from Kingston University with MSc in Mechatronics Systems and BSc in Communication Systes Technology. In both fields he learned different kinds of programming and how they are applied.
      </p>
      <br/ >
      <p>
        His future goal is to get a career in programming and learn a third language.
      </p>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

